@tailwind base;

@tailwind components;

@tailwind utilities;


:root {
  --main-hover-color-08: rgba(220, 38, 38, 0.8);
  --main-hover-color-07: rgba(220, 38, 38, 0.7);
  --main-hover-color-04: rgba(220, 38, 38, 0.4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p, a, input, span {
  color: white;
}

#Sidebar .items .item svg {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

#Sidebar .items .item:hover svg,
#Sidebar .items .item:hover p  {
  transition-timing-function: linear;
  transition-duration: 200ms;
}

#Sidebar .items .item:hover svg {
  color: rgba(248, 113, 113, 1);
}

#Sidebar .items .item:hover p {
  color: rgba(229, 231, 235, 1);
}

.overflow-block-hidden {
  overflow-block: hidden;
}

.max-w-20 {
  max-width: 5rem;
}

.max-w-96 {
  max-width: 24rem;
}

.min-h-main-layout {
  min-height: 524px;
  overflow-y: scroll;
}

.limit-18ch {
  max-width: min(100%, 18ch);
}

.onErrorSize {
  padding: 3rem 1.5rem;
}

.xs\:onErrorSize {
  padding: 1rem 0.5rem;
}

.adjust-img-ratio {
  object-fit: cover;
  width: 100%;
}

.ratio {
  height: calc(100% - 84px);
  width: auto;
}

.h-104 {
  height: 468px;
}

.max-w-64px {
  max-width: 84px;
}

@media (min-width: 500px) {
  .xs\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  height: 0.75rem;
  margin-bottom: 0.25rem;
  border-radius: 0.75rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(217, 19.1%, 26.7%);
  }

  100% {
    background-color: hsl(215, 27.9%, 16.9%);
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover-color-08);
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
  background-color: #0d0a10;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px !important;
  background: var(--main-hover-color-07);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--main-hover-color-04);
}

